
@{
    ViewBag.Title = "Login";
}

@{
    ViewBag.Title = "Contact";
}


<!--/contact-->
<section class="w3l-contact-11 py-5">
    <div class="contacts-main py-lg-5 py-md-4">
        <div class="title-content text-center">
            <h6 class="sub-titlehny">Admin Login</h6>
           
        </div>
        <div class="form-41-mian section-gap mt-5">
            <div class="container">
                <div class="d-grid align-form-map">
                    <div class="form-inner-cont">
                        <form action="checkLogin" method="post" class="signin-form">
                            <div class="form-input">
                                <label for="w3lName">User Name</label>
                                <input type="email" name="lName" id="w3lName" placeholder="" />
                            </div>
                            <div class="form-input">
                                <label for="w3lSender">Password*</label>
                                <input type="password" name="lPassword" id="w3lSender" placeholder="" required="" />
                            </div>
                         
                            <div class="form-submit text-right">
                                <button type="submit" class="btn btn-style btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1dWR6W5uNXnaDR0fnXQFcvwo_XDo" width="640" height="480"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="contant11-top-bg mt-lg-5 mt-4">
            <div class="container">
                <div class="d-grid contact pt-lg-4">
                    <div class="contact-info-left d-grid text-left">
                        <div class="contact-info mt-4">
                            <h4>Office Address</h4>
                            <p class="mb-3"><label>Address: </label> New Zealand, LY-90814 Hill Station 2nd Street</p>
                            <p class="mb-3"><label>Email : </label> <a href="#" class="email">admin@email.com</a></p>
                            <p class="mb-3"><label>Phone : </label> <a href="tel:+1-2345-678-11">+64-2345-678-11</a></p>
                            <p class="mb-3"><label>Hours : </label> Mon-Fri: 8am – 7pm</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
