
@{
    ViewBag.Title = "Right";
}

<h2>Wel come to the Property Site</h2>

<a href="@Url.Action("ClientList","Client")" class="btn btn-success">Clients </a> <br /><br />


<a href="@Url.Action("PropertyList","Property")" class="btn btn-success">Property </a> <br /><br />


<a href="@Url.Action("ContactList","Home")" class="btn btn-success">Contact List  </a> <br /><br />



<a href="@Url.Action("Index","Home")">Logout</a>

